/* Regular (400) */
@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Medium (500) */
@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Semi-bold (600) */
@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Bold (700) */
@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Gunakan font Inter di seluruh halaman */
body {
  font-family: "Inter", sans-serif;
}
